<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>quiz-authentication</title>
  <!-- Bootstrap core CSS-->
   <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/quiz-auth.css">
	<!-- <title>quiz-authentication</title> -->
</head>
<body>

	<div class="header">
		
  
		<h4>Quizster</h4>
		<div class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </div>
	</div>


	<div class="card-align">
		
	<div class="card">
  <div class="card-body">
   
        <h3>General instruction</h3>

        <ul>
      <li>Use the HTML  element to define an unordered list.</li>
      <li>Use the HTML  element to define an unordered list.</li>
      <li>Use the HTML  element to define an unordered list.</li>
      <li>Use the HTML  element to define an unordered list.</li>
      <li>Use the HTML  element to define an unordered list.</li>
      <li>Use the HTML  element to define an unordered list.</li>
       <li>Use the HTML  element to define an unordered list.</li>
      <li>Use the HTML  element to define an unordered list.</li>
</ul>  

  </div>
</div>



  <div class="card ">
  <div class="card-body login">

  	                            <div class="form-group">
                     			 	<label for="inputPassword">Email</label>	
                     			 	<input type="text" class="form-control" value="satyendra250896@gmail.com" id="inputPassword">
                     			 </div>

                     			  <div class="form-group">
                     			 	<label for="inputPassword">Password</label>	
                     			 	<input type="password" class="form-control" placeholder="enter test-password" id="inputPassword">
                     			 </div>
   
      
         
         <button class="btn btn-success" onclick="login()">login</button>

  </div>
</div>

	</div>



        <script>
        	
        	function login(){
        		 window.location.href="confirm.hbs";
        	}
        </script>
	 <script src="../dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="../dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../dashboard/vendor/chart.js/Chart.min.js"></script>
    <script src="../dashboard/vendor/datatables/jquery.dataTables.js"></script>
    <script src="../dashboard/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../dashboard/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../dashboard/js/sb-admin-datatables.min.js"></script>
    <script src="../dashboard/js/sb-admin-charts.min.js"></script>
	
</body>
</html>