

.modal-body{
	width: 50%;
	/*border: 0.5px solid black;*/
	margin: auto;
	border-radius: 4px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



input[type=radio]{
    border: 1px solid red;
    border-radius: 50%;
}
#submit{
	/*border: 2px solid black;*/
	/*position: relative;*/
	/*position: relative;*/
	margin-left: 40%;
}
