<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quiz</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/boots/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/stylesheets/animate/animate.min.css">
	
  
</head>
<body>
	
<div class="bg">
<div class="header">
	
    <!-- <img src="/images/sattu.jpg"> -->

	<div ><a class="name" href="#">Quister</a></div>
	<div class="right">

	<a  class="sign" data-toggle="modal" href="#signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
	<a  class="signup" data-toggle="modal" href="#loginModal"><span class="glyphicon glyphicon-log-in" ></span> Login</a>
	<!-- <button data-toggle="modal"  data-target="#loginModal" class="btn btn-primary">CLicke me</button> -->
		
	</div>
</div>

<div class="container">

	<h1 class="animated zoomIn" id="animation">Create And Manage your Quiz</h1>
	
     <div class="row">
     	

            <div class="col-xs-12">
            	

            	<div class="modal" id="loginModal" tabindex="-1">
            		
                     <div class="modal-dialog">
                     	
                     	<div class="modal-content">
                     		
                     		<div class="modal-header">
                     		<h4 class="modal-title">Login</h4>
                     		<button class="close" data-dismiss="modal">&times;</button>
                     			
                     		</div>
                     		<div class="modal-body">
                     			
                     			<form id="login" action="./dashboard.hbs" method="post">
                     			 <div class="form-group">
                     			 	<label for="inputUserName">UserName</label>	
                     			 	<input type="text" class="form-control" placeholder="login-username" id="inputUserName" name="uid">
                     			 </div>

                     			 <div class="form-group">
                     			 	<label for="inputPassword">Password</label>	
                     			 	<input type="password" class="form-control" placeholder="login-password" id="inputPassword"
                                     name="password">
                     			 </div>

                                 <div class="modal-footer">
                                  <input type="submit" class=" btn btn-primary" value="Login">
                                   <button class="btn btn-primary" data-dismiss="modal">Close</button>

                                   </div>
                     				
                     			</form>
                     		</div>

                     		
                     	</div>
                     </div>
            	</div>



            	<div class="modal" id="signUp" tabindex="-1">
            		
                     <div class="modal-dialog">
                     	
                     	<div class="modal-content">
                     		
                     		<div class="modal-header">
                     		<h4 class="modal-title">SignUp</h4>
                     		<button class="close" data-dismiss="modal">&times;</button>
                     			
                     		</div>
                     		<div class="modal-body">
                     			
                     			<form action="./signup" id="signup" method="post">
                     			 <div class="form-group">
                     			 	<label for="fullname">FullName</label>	
                     			 	<input type="text" class="form-control" placeholder="full-name" name="fullname" id="name" required>
                     			 </div>

                     			 <div class="form-group">
                     			 	<label for="inputUserName">Email</label>	
                     			 	<input type="text" class="form-control" name="email" placeholder="email" id="email" required>
                     			 </div>

                     			  <div class="form-group">
                     			 	<label for="inputUserName">Mobile</label>	
                     			 	<input type="text" class="form-control" name="mobile" placeholder="mobile" id="mobile" required>
                     			 </div>


                     			 <div class="form-group">
                     			 	<label for="inputPassword">Password</label>	
                     			 	<input type="password" class="form-control" name="password"  placeholder="login-password" id="password" required>
                     			 </div>

                     			  <div class="form-group">
                     			 	<label for="inputUserName">Confirm password</label>	
                     			 	<input type="password" class="form-control" name="confirmpassword" placeholder="confirm-password" id="confirm" required>
                     			 </div>

                     			 <div class="form-group">
                     			 	<label for="inputUserName">College name</label>	
                     			 	<input type="text" class="form-control" name="college" placeholder="collfsdfege" id="college" required>
                     			 </div>

                                    <div style="display: flex;flex-direction: row;">
                                   <input type="radio" name="profession" value="Student" checked> Student<br>
                                   <input type="radio" name="profession" value="teacher"> Teacher<br>
                                   <input type="radio" name="profession" value="other"> Other  
                     				</div>
                                      </form>
                                    <div class="modal-footer">
                               <!-- <form action="../dashboard/dashboard.html"> -->
                                  <!-- <button class="btn btn-primary" onclick="submit()">Sign up</button> -->
                                  <button  class="btn btn-primary" 
                                  name="SignUp" onclick="validate()">SignUp</button>
                                <!-- </form> -->
                                   <button class="btn btn-primary" data-dismiss="modal">Close</button>

                                </div>
                     			
                     		</div>

                     		
                     	</div>
                     </div>
            	</div>



            </div>

     </div>

</div>

</div>
<script type="text/javascript">
     
     function login(){
     // window.location.href="../dashboard/dashboard.html";
     document.querySelector('#login').submit();
  }


  
  function validate(){
         var flag=0;
         var message="";
     var name = document.querySelector('#name').value;
     var email = document.querySelector('#email').value;
     var mobile = document.querySelector('#mobile').value;
     var password = document.querySelector('#password').value;
     var confirm = document.querySelector('#confirm').value;
     var college = document.querySelector('#college').value;
     console.log("college == " + college);

      var atposition=email.indexOf("@");  
       var dotposition=email.lastIndexOf(".");  
       var mobilelength = mobile.length;
       var passlength = password.length;

    if(name == "")
         {
            console.log("within name");
            flag=1;
            message=message+"Please enter a valid name!!\n"
         }
   if (email =='' || atposition<1 || dotposition<atposition+2 || dotposition+2>=email.length){  
           
       flag=1;
        message=message+"Please enter a valid email!!\n"
    } 

    if(mobilelength<10 || mobilelength=="")
    {
        flag=1;
         message=message+"Please enter a valid mobile no!!\n"
    }

    if(passlength<6 || password=='' || confirm=='' || password!=confirm)
    {
        flag=1;
         message=message+"Password must me same!!\n"
    }
    if(college=="")
    {
        console.log("within college")
        flag=1;
         message=message+"Please enter valid college name\n"
        
    }

  if(flag==1)
  {
    alert(message);
  }
  else{

    document.querySelector('#signup').submit();
  }




   

  }
  
   
</script>
<script src="/stylesheets/boots/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
