<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>quiz-authentication</title>
  <!-- Bootstrap core CSS-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="test.css">
  <!-- <title>quiz-authentication</title> -->
</head>
<body>

  <div class="header">
    
  
    <h4>Quizster</h4>
    <div class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal" style="margin-right: 10px;">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </div>
  </div>

   <div class="container" ">

         <input type="time" name="time">

       

         <div class="question" >

          <div class="card" onclick="showquestion('question1')" style="cursor: pointer;">
                <div class="card-body">
                 question1
                      </div>
           </div>
              <div class="card" onclick="showquestion('question2')" style="cursor: pointer;">
                <div class="card-body">
                 question2
                      </div>
                  </div>
                   <div class="card" onclick="showquestion('question2')" style="cursor: pointer;">
                <div class="card-body">
                 question3
                      </div>
                  </div>
                   <div class="card" onclick="showquestion('question2')" style="cursor: pointer;">
                <div class="card-body">
                 question4
                      </div>
                  </div>
                   <div class="card" onclick="showquestion('question2')" style="cursor: pointer;">
                <div class="card-body">
                 question5
                      </div>
                  </div>

                   <div class="card" onclick="showquestion('question2')" style="cursor: pointer;">
                <div class="card-body">
                 question6
                      </div>
                  </div>


                   <div class="card" onclick="showquestion('question2')" style="cursor: pointer;">
                <div class="card-body">
                 question7
                      </div>
                  </div>

                   <div class="card" onclick="showquestion('question2')" style="cursor: pointer;">
                <div class="card-body">
                 question8
                      </div>
                  </div>
                   <div class="card" onclick="showquestion('question2')" style="cursor: pointer;">
                <div class="card-body">
                 question9
                      </div>
                  </div>
                   <div class="card" onclick="showquestion('question2')" style="cursor: pointer;">
                <div class="card-body">
                 question10
                      </div>
                  </div>


         </div>
         

         

        
         <div id="displayarea" class="modal-body" >
           
         </div>
      <button class="btn btn-success" id="savequiz">Finish quiz</button>
         <div id="question1" class="modal-body" style="display: none;">

          <!-- <p style="display: flex;flex-direction: row;
          justify-content: space-around;color: red;"><strong>Edit question</strong></p> -->

              <form>
                           <div class="form-group">
                            <label for="inputUserName">Question</label> 
                            <input type="text" class="form-control" value="Lorem ipsum dolorproident, sunt in culpa qui officia deserunt mollit anim id est laborum." id="inputUserName">
                           </div>

                           <div class="form-group">
                            <label for="inputUserName">Option1</label>  
                            <input type="text" class="form-control" value="my name is satyenrsa" id="inputUserName">
                           </div>

                            <div class="form-group">
                            <label for="inputUserName">option2</label> 
                            <input type="text" class="form-control" value="india is countr of temple" id="inputUserName">
                           </div>

                           <div class="form-group">
                            <label for="inputUserName">option3</label> 
                            <input type="text" class="form-control" value="Motilal nehru national nstitute" id="inputUserName">
                           </div>
                           
                           <div class="form-group">
                            <label for="inputUserName">option4</label> 
                            <input type="text" class="form-control" value="iit bhu" id="inputUserName">
                           </div>
                           



                        
                           

                             <div style="display: flex;flex-direction: row;">
                                   <input type="radio" name="gender" value="male" checked> option1<br>
                                   <input type="radio" name="gender" value="female"> option2<br>
                                   <input type="radio" name="gender" value="other"> option3  <br>
                                   <input type="radio" name="gender" value="other"> option4 

                            </div>
                               <br><br>
                            <button class="btn btn-primary">save</button>

                          </form>
          
         </div>
         <div id="question2" style="display: none;">
           description of que2
         </div>
         


     </div>





        <script>
          
          // function login(){
          //   window.location.href="../confirm-quiz/confirm.html";
          // }

          function showquestion(question){
            console.log("wirifd");

        // document.getElementById(question).style.display="block";
        var que = document.getElementById(question).innerHTML;

       var displayarea = document.querySelector("#displayarea");

       displayarea.innerHTML=que;


   }
        </script>
   <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../vendor/chart.js/Chart.min.js"></script>
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../js/sb-admin-datatables.min.js"></script>
    <script src="../js/sb-admin-charts.min.js"></script>
  
</body>
</html>